.carta-memoria {
    height: 100px;
    background-color: var(--card-virado);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white; /* Cor do texto quando estiver fechada (?) */
    user-select: none;
    font-size: 0.85rem;
    padding: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Estado da carta quando revelada ou combinada */
.carta-memoria.revelada, .carta-memoria.combinada {
    background-color: var(--bg-principal);
    border: 2px solid var(--primaria);
    color: var(--texto); /* Cor do texto do conceito revelado */
}
